/* BG COLOR :  #1a1a1a */
/* MAIN COLOR : #19CCA0 */

html {
    scroll-behavior: smooth;
    background-color: #1a1a1a;
    color: white;
    font-family: montserrat, sans-serif;
    
}
body {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    z-index: 3;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
    width: 100%;
    height: 50px;
    position: sticky;
        top: 0;
}
header h1 {
    margin: 0 20px;
    line-height: 55px;
    text-transform: uppercase;
}
header ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
    padding: 10px 15px;
    transition: color .4s;
}
header ul li a:hover {
    color: #19CCA0;
}

/* MAIN 1 */
.main1 {
    background-color: #19CCA0;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main1 h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    margin-left: 200px;
}
.square {
    z-index: 1;
    width: 50px;
    position: relative;
    top: -25px;
    left: 48%;
    transform: rotate(45deg);
    margin-bottom: 100px;
}

/* PARAGRAPHES */
.paragraphe {
    padding: 50px 150px;
    text-align: center;
}
.paragraphe span {
    display: block;
    width: 15%;
    height: 3px;
    background-color: #19CCA0;
    border-radius: 30px;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

/* RESEAUX SOCIAUX */
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    list-style: none;
}
ul img {
    width: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

